
LangHelper/obj/Debug/App.g.cs
LangHelper/obj/Debug/App.g.i.cs
LangHelper/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LangHelper/obj/Debug/LangHelper.csproj.FileListAbsolute.txt
LangHelper/obj/Debug/LangHelper.csproj.GenerateResource.Cache
LangHelper/obj/Debug/LangHelper.csprojResolveAssemblyReference.cache
LangHelper/obj/Debug/LangHelper.exe
LangHelper/obj/Debug/LangHelper.g.resources
LangHelper/obj/Debug/LangHelper.pdb
LangHelper/obj/Debug/LangHelper.Properties.Resources.resources
LangHelper/obj/Debug/LangHelper_MarkupCompile.cache
LangHelper/obj/Debug/LangHelper_MarkupCompile.i.cache
LangHelper/obj/Debug/LangHelper_MarkupCompile.i.lref
LangHelper/obj/Debug/LangHelper_MarkupCompile.lref
LangHelper/obj/Debug/MainWindow.baml
LangHelper/obj/Debug/MainWindow.g.cs
LangHelper/obj/Debug/MainWindow.g.i.cs
LangHelper/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
