
LangHelper/obj/Debug/App.g.cs
LangHelper/obj/Debug/App.g.i.cs
LangHelper/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LangHelper/obj/Debug/LangHelper.csproj.FileListAbsolute.txt
LangHelper/obj/Debug/LangHelper.csproj.GenerateResource.Cache
LangHelper/obj/Debug/LangHelper.csprojResolveAssemblyReference.cache
LangHelper/obj/Debug/LangHelper.exe
LangHelper/obj/Debug/LangHelper.g.resources
LangHelper/obj/Debug/LangHelper.pdb
LangHelper/obj/Debug/LangHelper.Properties.Resources.resources
LangHelper/obj/Debug/LangHelper_MarkupCompile.cache
LangHelper/obj/Debug/LangHelper_MarkupCompile.i.cache
LangHelper/obj/Debug/LangHelper_MarkupCompile.i.lref
LangHelper/obj/Debug/LangHelper_MarkupCompile.lref
LangHelper/obj/Debug/MainWindow.baml
LangHelper/obj/Debug/MainWindow.g.cs
LangHelper/obj/Debug/MainWindow.g.i.cs
LangHelper/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
CompareDemo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CompareDemo/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CompareDemo/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CompareDemo/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CompareDemo/bin/Debug/CompareDemo.exe.config
CompareDemo/bin/Debug/CompareDemo.vshost.exe
CompareDemo/bin/Debug/CompareDemo.vshost.exe.config
CompareDemo/bin/Debug/CompareDemo.vshost.exe.manifest
CompareDemo/obj/Debug/CompareDemo.csproj.FileListAbsolute.txt
